@import '../../index.scss';

.user-action {
  margin: 10px 0;
  background-color: rgba(248, 248, 248, 0.5);
  box-shadow: none;

  &__old-value,
  &__new-value {
    @include value-border;
  }

  &__old-value {
    margin-right: 5px;
  }

  &__time {
    color: gray;
    margin-left: 5px;
  }

  &__info {
    display: flex;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__new-value {
    margin-left: 5px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
}
