.upload-image-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;

  &.short {
    grid-template-columns: 1fr;
  }

  &__img {
    height: 12rem;
    object-fit: cover;
    width: 100%;
  }
}

.MuiDialogActions-root {
  .textarea {
    width: 100%;
    padding: 5px 5px 5px 10px;
  }
}