.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;

  &__header {
    color: white;
    text-align: center;
  }

  form {
    margin-bottom: 1rem;
  }
}

.page {
  height: 100%;
}
