.authentication {
  max-width: 25rem;
  margin: 7rem 1rem;
  text-align: center;

  &__input-wrapper {
    margin-bottom: 10px;
  }

  &__header {
    color: white;
    text-align: center;
  }

  &__link-wrapper {
    display: flex;
  }

  form {
    margin-bottom: 1rem;
  }

  a {
    margin: 0 0 1rem;
    color: #0e86d4;
    transition: 0.2s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.page {
  height: 100%;
}
