.forgot-password {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 25rem;
  text-align: center;
  margin: auto;

  &__container {
    height: 100vh;
  }

  form {
    margin-bottom: 1rem;
  }
}
