@import '../utils/mixins.scss';

.transaction {
  &__btn {
    @include button-absolute;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input-container {
    display: flex;
    margin-top: 1rem;

    & .form-control {
      width: 75%;
    }
  }

  &__title {
    margin-top: 0;
  }
}

.built-in__btn {
  top: 63%;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.classifier {
  &__btn {
    @include bordered-button;
  }
}
