@import '../../index.scss';

.task-item {
  position: relative;
  &__value-text {
    @include value-border;
    @include nowrap;

    margin-left: 5px !important;
    font-size: 12px !important;
  }

  &__done {
    @include done-background;
  }

  &__text {
    margin-left: 5px !important;
    font-size: 12px !important;
  }

  &__align-center {
    @include align-center;
  }

  &__select-wrapper {
    @include align-center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  // &__btn {
  //   position: absolute;
  //   top: 15px;
  //   right: 5px;
  // }

  &__checkbox-wrapper {
    display: flex;
  }

  &__toggled-btn {
    display: flex;
    align-items: center;
  }

  &__toggle-button {
    display: flex;
    justify-content: flex-end;
  }

  &__section.hidden {
    height: 0; /* Hide the element by reducing its height to 0 */
    opacity: 0; /* Make it transparent */
    padding: 0; /* Optionally remove padding to collapse the element */
    margin: 0; /* Optionally remove margin */
    overflow: hidden; /* Hide overflow content */
  }
}
