$buttonBackground: #d9dddc;

.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background: $buttonBackground;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  color: black;

  img {
    width: 40px;
    height: 40px;
  }

  &__icon {
    padding: 0;
    margin: 0;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    opacity: 0.5;
  }

  &--inverse {
    background: transparent;
    color: #0d0e10;

    &:hover,
    &:active {
      opacity: 0.5;
    }
  }

  &--transparent {
    background-color: transparent;
    color: inherit;
    border-color: transparent;
    &:hover,
    &:focus {
      border-color: rgba(0, 0, 0, 0.05);
    }
  }

  &--danger {
    background: #e8973e;
    border-color: #e8973e;

    &:hover,
    &:active {
      background: #f0b06a;
      border-color: #f0b06a;
    }
  }

  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }

  &--small {
    font-size: 0.8rem;
  }

  &--big {
    font-size: 1.5rem;
  }
}
