.file-uploader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    max-height: 50vw;
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }

  &__preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.form-control.logo {
  margin-top: 0;
}
