.form-control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  label,
  input,
  textarea {
    display: block;
  }

  .label--white {
    color: #fff;
  }

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #000;
  }

  textarea {
    resize: none;
  }

  input,
  textarea {
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
    border-radius: 8px;

    &:focus {
      outline: none;
      background: #fff;
    }
  }

  &--invalid {
    label,
    p {
      color: red;
    }

    input,
    textarea {
      border-color: red;
      background: #ffd1d1;
    }
  }
}
