.item {
  display: flex;
  align-items: center;
  margin-top: 2px;
  padding: 0.5rem;
  height: 86px;

  &__text-container {
    margin-left: 1rem;
  }

  &__image-empty {
    width: 60px;
    height: 60px;
  }
}

img {
  width: 60px;
  height: 60px;
}
