@mixin value-border {
  padding: 6px;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #555;
}

@mixin done-background {
  background-color: rgba(236, 240, 241, 0.9);
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
