@mixin value-border {
  padding: 6px;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #555;
}

@mixin done-background {
  background-color: rgba(236, 240, 241, 0.9);
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin small-title {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0;
  display: block;
  transform-origin: top left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 133%;
}

@mixin button-absolute {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@mixin bordered-button {
  background: transparent;
  border: 1px solid black;
  margin-left: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
