$mainBackgroundColor: linear-gradient(
  90deg,
  rgba(83, 138, 214, 1) 0%,
  rgba(134, 231, 214, 1) 100%
);
$linkColor: #0e86d4;
$headerBackground: #f9f9f9;

$colorSpinner: #538ad6;
$activeLinkColor: rgba(83, 138, 214, 1) 0%;
