.slider-transaction-list {
  &__card {
    padding: 0;
    margin: 0;
  }

  &__wrapper {
    padding: 20px;

    h2 {
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
    }
  }

  &__left-arrow {
    position: absolute;
    left: 0;
    z-index: 1;
    top: 20%;
  }

  &__right-arrow {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 20%;
  }
}
